body{
    background-image: url(back.jpg);
    
}
#alap{
    width: 1000px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
img{
    max-width: 100px;
    min-width: 450px;
}
#header{
    max-width: 100px;
    min-width: 650px;
}
.kilato{
    background-color: #5B9CEA;
}